<% if @investment.errors.any? %>
  <div id="error_explanation">
    <h2 style="color: red;"><%= pluralize(@investment.errors.count, "error") %> prohibited this investment from being updated:</h2>
    <ul>
    <% @investment.errors.full_messages.each do |msg| %>
     <h3 style="color: red;"><li><%= msg %></li></h3>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_with(model: [@client, @investment], local: :true) do |f|%>
  
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :ein %>
  <%= f.number_field :ein %><br>
  <%= f.label :ordinary_income %>
  <%= f.number_field :ordinary_income %>
  <%= f.label :interest_income %>
  <%= f.number_field :interest_income %><br>
  <%= f.label :st_capital %>
  <%= f.number_field :st_capital %>
  <%= f.label :mt_capital %>
  <%= f.number_field :mt_capital %>
  <%= f.label :lt_capital %>
  <%= f.number_field :lt_capital %>
  <%= f.submit  %>
  <% end %>


