<h2>Investments for:</h2>
<h2><strong><%= @client.name %></strong></h2>
<!DOCTYPE html>
<html>
<head>
<style>
.content-loader table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  white-space: nowrap;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<p><%= link_to 'Welcome Page', welcome_path %></p>

<table>
  <tr>
    <th>Investment</th>
    <th>EIN</th>
    <th>Ordinary Income</th>
    <th>Interest Income</th>
    <th>Short-Term Capital Gains/(Losses)</th>
    <th>Mid-Term Capital Gains/(Losses)</th>
    <th>Long-Term Capital Gains/(Losses)</th>
    <th>Total Income</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Show</th>
    <th>CSV</th>
  </tr>
  <% @client.investments.each do |inv|%>
  <tbody>
  <tr>
    <td><%=inv.name%></td>
    <td><%=inv.ein%></td>
    <td><%=number_to_currency(inv.ordinary_income, :unit => "$")%></td>
    <td><%=number_to_currency(inv.interest_income, :unit=> "$")%></td>
    <td><%=number_to_currency(inv.st_capital,:unit => "$") %></td>
    <td><%=number_to_currency(inv.mt_capital, :unit => "$")%></td>
    <td><%=number_to_currency(inv.lt_capital, :unit=> "$")%></td>
    <td><%=number_to_currency(inv.total, :unit => "$")%></td>
    
    <td><p><%= link_to("Edit", edit_client_investment_path(@client,inv)) %></p></td>
    <td><p><%= link_to("Delete", client_investment_path(@client,inv), method: :delete, data:{confirm: "Are you Sure?"}) %></p></td>
    <td><p><%= link_to("Show", client_investment_path(@client,inv)) %></p></td>
    <% end %>
    </tr>
    </tbody>
    <tfoot>
    <tr>
    
    <td colspan="2"><strong>Totals</strong></td>
  
    <td><strong><%=number_to_currency(@investments.sum(:ordinary_income), :unit => "$")%></strong></td>
    <td><strong><%=number_to_currency(@investments.sum(:interest_income), :unit => "$")%></strong></td>
    <td><strong><%=number_to_currency(@investments.sum(:st_capital), :unit => "$")%></strong></td>
    <td><strong><%=number_to_currency(@investments.sum(:mt_capital), :unit => "$")%></strong></td>
    <td><strong><%=number_to_currency(@investments.sum(:lt_capital), :unit => "$")%></strong></td>
    <td><strong><%=number_to_currency(@investments.footed, :unit => "$")%></strong></td>
    </tr>
    </tfoot>
  </table>
  
  
<p><%= link_to("Reportable Transactions", reportables_path) %></p>
  

  




