<h1>New Investment: </h1>
<%= form_for @investment do |f|%>
<%= f.hidden_field :client_id %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :ein %>
<%= f.number_field :ein %><br>
<%= f.label :ordinary_income %>
<%= f.number_field :ordinary_income%>
<%= f.label :interest_income %>
<%= f.number_field :interest_income %><br>
<%= f.label :st_capital %>
<%= f.number_field :st_capital %>
<%= f.label :mt_capital %>
<%= f.number_field :mt_capital %>
<%= f.label :lt_capital %>
<%= f.number_field :lt_capital %>
<%# <%= f.label :file %>
<%# <%= f.file_field :file %> 
<%= f.submit %>
<% end %>

