<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Client Investments:</h2>
<p><%= link_to 'Welcome Page', welcome_path %></p>
<table>
  <tr>
    <th>Investment</th>
    <th>EIN</th>
    <th>Ordinary Income</th>
    <th>Interest Income</th>
    <th>Short-Term Capital Gains/(Losses)</th>
    <th>Mid-Term Capital Gains/(Losses)</th>
    <th>Long-Term Capital Gains/(Losses)</th>
    <th>Total Income</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td><%=@client.investments.name%></td>
    <td><%=@client.investments.ein%></td>
    <td><%=number_to_currency(@investment.ordinary_income, :unit => "$")%></td>
    <td><%=number_to_currency(@investment.interest_income, :unit=> "$")%></td>
    <td><%=number_to_currency(@investment.st_capital,:unit => "$") %></td>
    <td><%=number_to_currency(@investment.mt_capital, :unit => "$")%></td>
    <td><%=number_to_currency(@investment.lt_capital, :unit=> "$")%></td>
    <td><%=number_to_currency(@investment.total, :unit => "$")%></td>
    <td><p><%= link_to("Edit", edit_investment_path(@investment)) %></p></td>
    <td><p><%= link_to("Delete", @investment, method: :delete, data:{confirm: "Are you Sure?"}) %></p></td>
  </tr>
  <br>


<%# <iframe src=<%= url_for(@investment.my_file.file) %>
 <%# width="700" height="780" style="border: none;"></iframe> %> 