<h1>Welcome to PDF Helper!</h1>
<h2>An accounting site for client and investment tracking</h2>

<% if logged_in?  %>
    <h3>Hi, <%= current_user.name%>.You are certainly logged in!</h3>
    <%= link_to "Add Client", new_client_path %>
    <br>
    <br>
    <%= button_to "Logout", '/logout', method: :post%>
    
<% else%>
<%= button_to "Login", '/login', method: :get%><br>
<%= button_to "Sign Up", '/users/new', method: :get%>
<% end %>


