<h1>Sign Up</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2 style="color: red;"><%= pluralize(@user.errors.count, "error") %> prohibited you from signing up:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
     <h3 style="color: red;"><li><%= msg %></li></h3>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f|%>
  <%= f.label :email%><br>
  <%= f.email_field :email, :required=> true %><br>
  </p>
  <%= f.label :name%><br>
  <%= f.text_field :name%><br>
  <p>
  <%= f.label :password%><br>
  <%= f.password_field :password%><br>
  <p>
  <%= f.label  :password_confirmation %><br>
  <%= f.password_field :password_confirmation %>
  </p>
  <%= f.submit %>
<%end%>