<h1>Hi, <%= current_user.name %> Edit a Client: </h1>
<% if @client.errors.any? %>
  <div id="error_explanation">
    <h2 style="color: red;"><%= pluralize(@client.errors.count, "error") %> prohibited you from editing this client:</h2>
    <ul>
    <% @client.errors.full_messages.each do |msg| %>
     <h3 style="color: red;"><li><%= msg %></li></h3>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @client do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :ein %>
<%= f.text_field :ein %>


<%= fields_for @investment do |form| %>
<%= form.label :name %>
<%= form.text_field :name %><br>
<%= form.label :ein %>
<%= form.text_field :ein %>
<%= form.label :ordinary_income%>
<%= form.number_field :ordinary_income%>
<%= form.label :st_capital%>
<%= form.number_field :st_capital %>
<%= form.label :mt_capital%>
<%= form.number_field :mt_capital %>     
<%= form.label :lt_capital%>
<%= form.number_field :lt_capital %>  
<%= form.submit%>
<% end %>
<%end %>