<% if logged_in? %>
<h1>Hi, <%= current_user.name %> Add a Client: </h1>
<%= form_for @client do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :ein %>
<%= f.number_field :ein %>
<%= f.submit %>
<% end %>
<% end %>

