<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>
<table class = "table table-bordered table-striped">
<ul>
<% @pdfs.each do |pdf| %>
         
   <li> <%= pdf.name %> <%= link_to "View K-1 Document" , pdf %></li>
   <ol><%= button_to "Delete",  pdf, method: :delete %></ol>
         
         
      <% end %>
</ul>

<br />

<%= link_to "Upload a New PDF", new_pdf_path, class: "btn btn-primary" %>
<br />
<br />
</table>
