<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<ul>
<% @pdfs.each do |pdf| %>
         
   <ol><%= pdf.name %></td></ol><%= link_to "View File", pdf.attachment %></ol>
   <td><%= button_to "Delete",  pdf, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{pdf.name}?" %></td>
         
         
      <% end %>
</ul>

<br />

<%= link_to "Upload a New PDF", new_pdf_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      
   </tbody>
   
</table>
