<!DOCTYPE html>
<html>
   
   <head>
      <title></title>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_pack_tag "application", "data-turbolinks-track": 'reload' %>
      <%= csrf_meta_tags %>
   </head>
   
   <body>
   <nav>
   <section>
   <%= link_to_unless_current "Welcome", welcome_path %>
   <section class="utility">
   <% if logged_in?%>
   You are logged in as: <%= current_user.name %> - <%= current_user.email %>
   <% else %>
   <%= link_to_unless_current "Login", login_path %>
   <%= link_to_unless_current "Signup", new_user_path %>
   <% end %>
   </section>
   </nav>

      <div class = "container" style = "padding-top:20px;">
         <%= yield %>
      </div>
   </body>

</html>